form {
  width: 70rem;
  margin: 6.4rem auto;
  background: white;
  border: 1px solid #d3e2e5;

  border-radius: 2rem;

  overflow: hidden;
  padding: 8rem;
}

fieldset {
  border: 0;
}

fieldset + fieldset {
  margin-top: 8rem;
}

fieldset legend {
  width: 100%;

  font-size: 3.2rem;
  line-height: 1.5;

  color: #5c8599;
  font-weight: 700;

  border-bottom: 1px solid #d3e2e5;
  margin-bottom: 4rem;
  padding-bottom: 2.4rem;
}

.input-block + .input-block {
  margin-top: 2.4rem;
}

.input-block label {
  color: #8fa7b3;
  margin-bottom: 0.8rem;
  line-height: 1.5;
}

.input-block label span {
  font-size: 1.4rem;
  color: #8fa7b3;
  margin-left: 2.4rem;
  line-height: 1.5;
}

.input-block textarea,
.input-block input {
  width: 100%;

  background: #f5f8fa;

  border: 1px solid #b3e2e5;
  border-radius: 2rem;
  color: #5c8599;
}

.input-block textarea:focus,
.input-block input:focus {
  border: 1px solid #ffff00;
}

.input-block input {
  height: 6.4rem;
  padding: 0 1.6rem 0;
}

.input-block input:valid,
.input-block textarea:valid {
  border: 1px solid #a1e9c5;
}

.input-block textarea {
  height: clamp(12rem, 16, 24rem);
  resize: vertical;
  padding: 1.6rem;
  line-height: 2.8rem;
}

.input-block.images button {
  width: 100%;
  height: 6.4rem;

  background: #f5f8fa;

  padding: 0 1.6rem 0;
  margin-top: 2.4rem;

  border: 1px dashed #96d2f0;
  border-radius: 2rem;

  cursor: pointer;
}

.new-upload {
  position: relative;
  margin-top: 2.4rem;
}

.new-upload span {
  position: absolute;
  right: 12px;
  bottom: 12px;

  padding: 0.6rem;

  background: #ffffff;

  border: 1px solid #d3e2e5;
  box-sizing: border-box;
  border-radius: 10px;

  display: flex;

  cursor: pointer;
}
